@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}

body {
    background-color: black;
    color: white;
}

.controls {
    border-top: 1px solid white;
    font-size: 1.2em;
    padding-top: 20px;
}

.title {
    width: 30%;
    font-weight: bold;
}

.infos {
    font-size: 3em;
}

.score .good::after {
    content: '\263a';
}

.score .bad::before {
    content: ' - ';
}

.score .bad::after {
    content: '\2639';
}

.player > video {
    width: 90%;
}

.words {
    padding-left: 5%;
    vertical-align: middle;
    font-size: 3em;
}

.button {
    background-color: white;
    color: black;
    border: solid 1px white;

    transition: all 200ms ease;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    padding: 0.2em 1em;
    margin: 5px;
    line-height: 2em;
}

.font--sans {
    font-family: Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;
}

.font--hand {
    font-family: KatamotzIkasiMedium;
}

.font--machine {
    font-family: Teleindicadores1Regular;
}

.case--lower {
    text-transform: lowercase;
}

.case--capital {
    text-transform: capitalize;
}

.case--upper {
    text-transform: uppercase;
}