html {
    margin: 0;
    padding: 0;
    height: 100%;

    font-size: 48px;
}
@media (max-width: 800px) {
    html {
        font-size: 32px;
    }
}
@media (max-width: 360px) {
    html {
        font-size: 24px;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: black;
    color: white;
}

#container {
    flex: 1;
}

footer {
    text-align: center;
    font-size: 0.4rem;
}

footer li {
    display: inline-block;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 10px;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

header::before {
    content: '\270B  → ?';
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
}
.content * {
    width: 100%;
}

@media (max-width: 50rem) {
    .content {
        flex-direction: column;
    }
}

.attributions {
    font-size: 0.5rem;
}

.guess {
    width: 100%;
    text-align: center;
    padding: 0 20px;
}

.guess .word {
    display: inline-block;
    padding: 0.2rem;
    margin: 0.2rem;
    line-height: 0.8rem;
    width: auto;

    color: black;
    background-color: white;
    border: solid 1px white;
    border-radius: 10px;
    cursor: pointer;

    transition: all 200ms ease;
}

.guess .word:active {
    background-color: black;
    color: white;
}

.feedback::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;

    background: black;
    font-size: 8rem;
    text-align: center;
}

.feedback-good::after, .feedback-bad::after, .feedback-loading::after {
    height: 100%;
}

.feedback-good::after {
    content: '\263a';
}

.feedback-bad::after {
    content: '\2639';
}

.feedback-loading::after {
    font-size: 1rem;
    content: 'Loading... \231b';
}

.score .good::after {
    content: '\263a';
}

.score .bad::before {
    content: ' - ';
}

.score .bad::after {
    content: '\2639';
}

.controls {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    border-top: 1px solid white;
    font-size: 0.6rem;
}

.controls label::before {
    content: '\2699  ';
}

.controls input {
    display: none;
}

.controls input ~ label::after {
    content: '  \25b8';
}

.controls input:checked ~ label::after {
    content: '  \25be';
}

.controls input ~ .control {
    display: none;
}

.controls input:checked ~ .control {
    display: inline-block;
    margin-left: 10px;
}


.font--sans {
    font-family: Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;
}

.font--hand {
    font-family: KatamotzIkasiMedium;
}

.font--machine {
    font-family: Teleindicadores1Regular;
}

.font--gothic {
    font-family: 'GamalielMedium';
}

.font--script {
    font-family: 'DancingScriptOTRegular';
}

.case--lower {
    text-transform: lowercase;
}

.case--capital {
    text-transform: capitalize;
}

.case--upper {
    text-transform: uppercase;
}
